# Web Scraping Assignment 4

# Q.1 Scrape the details of most viewed videos on YouTube from Wikipedia

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import time

In [2]:
#lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

time.sleep(2)

In [3]:
name=[]
#scraping Song Name
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]"):
    name.append(i.text.split('"')[1])

In [4]:
name

['Baby Shark Dance',
 'Despacito',
 'See You Again',
 'Gangnam Style',
 'Baby',
 'Bad Romance',
 'Charlie Bit My Finger',
 'Evolution of Dance',
 'Girlfriend',
 'Evolution of Dance',
 'Music Is My Hot Hot Sex',
 'Evolution of Dance',
 'Pokemon Theme Music Video',
 'Myspace â€“ The Movie',
 'Phony Photo Booth',
 'The Chronic of Narnia Rap',
 'Ronaldinho: Touch of Gold',
 'I/O Brush',
 'Me at the zoo']

In [5]:
artist=[]
#scraping Artist name
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]"):
    artist.append(i.text.split('[')[0])

In [6]:
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'Wiz Khalifa',
 'Psy',
 'Justin Bieber',
 'Lady Gaga',
 'HDCYT',
 'Judson Laipply',
 'RCA Records',
 'Judson Laipply',
 'CLARUSBARTEL72',
 'Judson Laipply',
 'Smosh',
 'eggtea',
 'mugenized',
 'youtubedude',
 'Nikesoccer',
 'larfus',
 'jawed']

In [7]:
upload=[]
#scraping the Uploaded date
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]"):
    upload.append(i.text)

In [8]:
upload

['June 17, 2016',
 'January 12, 2017',
 'April 6, 2015',
 'July 15, 2012',
 'February 19, 2010',
 'November 24, 2009',
 'May 22, 2007',
 'April 6, 2006',
 'February 27, 2007',
 'April 6, 2006',
 'April 9, 2007',
 'April 6, 2006',
 'November 28, 2005',
 'January 31, 2006',
 'December 1, 2005',
 'December 18, 2005',
 'October 21, 2005',
 'October 5, 2005',
 'April 23, 2005']

In [9]:
views=[]
#scraping the No of Views
for i in driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]"):
    views.append(i.text)

In [10]:
views

['7,046,700,000',
 '3,002,800,000',
 '2,894,000,000',
 '803,700,000',
 '245,400,000',
 '178,400,000',
 '128,900,000',
 '118,900,000',
 '92,600,000',
 '78,400,000',
 '76,600,000',
 '10,600,000',
 '4,300,000',
 '2,700,000',
 '3,400,000',
 '2,300,000',
 '255,000',
 '247,000',
 '1']

In [11]:
video={'Name':name,'Artist':artist,'Uploaded Date':upload,'No of Views':views}
df=pd.DataFrame(data=video)
df

,Name,Artist,Uploaded Date,No of Views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
1,Despacito,Luis Fonsi,"January 12, 2017","3,002,800,000"
2,See You Again,Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,Gangnam Style,Psy,"July 15, 2012","803,700,000"
4,Baby,Justin Bieber,"February 19, 2010","245,400,000"
5,Bad Romance,Lady Gaga,"November 24, 2009","178,400,000"
6,Charlie Bit My Finger,HDCYT,"May 22, 2007","128,900,000"
7,Evolution of Dance,Judson Laipply,"April 6, 2006","118,900,000"
8,Girlfriend,RCA Records,"February 27, 2007","92,600,000"
9,Evolution of Dance,Judson Laipply,"April 6, 2006","78,400,000"
10,Music Is My Hot Hot Sex,CLARUSBARTEL72,"April 9, 2007","76,600,000"
11,Evolution of Dance,Judson Laipply,"April 6, 2006","10,600,000"
12,Pokemon Theme Music Video,Smosh,"November 28, 2005","4,300,000"
13,Myspace â€“ The Movie,eggtea,"January 31, 2006","2,700,000"
14,Phony Photo Booth,mugenized,"December 1, 2005","3,400,000"
15,The Chronic of Narnia Rap,youtubedude,"December 18, 2005","2,300,000"
16,Ronaldinho: Touch of Gold,Nikesoccer,"October 21, 2005","255,000"
17,I/O Brush,larfus,"October 5, 2005","247,000"
18,Me at the zoo,jawed,"April 23, 2005",1

# Q2 Scrape the details team Indiaâ€™s international fixtures from bcci.tv

In [12]:
#lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.bcci.tv")
driver.maximize_window()


time.sleep(2)

In [13]:
#clicking on International tab
driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a').click()

time.sleep(1)

In [14]:
Title=[]
#scraping the Title Name
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    Title.append(i.text)
    
Title

['SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23',
 'ASIA CUP WOMENS 2022',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23',
 'ICC MENS T20 WORLD CUP 2022',
 'ICC MENS T20 WORLD CUP 2022',
 'ICC MENS T20 WORLD CUP 2022',
 'ICC MENS T20 WORLD CUP 2022',
 'ICC MENS T20 WORLD CUP 2022']

In [15]:
Series=[]
#scraping the series name
for i in driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]'):
    Series.append(i.text.replace('\n',' '))
    
Series

['India vs South Africa',
 'India Women vs Thailand Women',
 'India vs South Africa',
 'India vs Pakistan',
 'India vs TBD',
 'India vs South Africa',
 'India vs Bangladesh',
 'India vs TBD']

In [16]:
Place=[]
#scraping the place
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)
    
Place

['JSCA International Stadium Complex,',
 'Sylhet International Cricket Stadium,',
 'Arun Jaitley Stadium,',
 'Melbourne Cricket Ground,',
 'Sydney Cricket Ground,',
 'WACA Ground,',
 'Adelaide Oval,',
 'Melbourne Cricket Ground,']

In [17]:
Date=[]
#scraping the date
for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
    Date.append(i.text)
    
Date

['9 OCT 2022',
 '10 OCT 2022',
 '11 OCT 2022',
 '23 OCT 2022',
 '27 OCT 2022',
 '30 OCT 2022',
 '2 NOV 2022',
 '6 NOV 2022']

In [18]:
Time=[]
#scraping the time
for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
    Time.append(i.text)
    
Time

['1:30 PM IST',
 '1:00 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '12:30 PM IST',
 '4:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST']

In [19]:
print(len(Title),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [20]:
#creating the DataFrame
bcci={'Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time}
df=pd.DataFrame(data=bcci)
df.head()

,Title,Series,Place,Date,Time
0,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India vs South Africa,"JSCA International Stadium Complex,",9 OCT 2022,1:30 PM IST
1,ASIA CUP WOMENS 2022,India Women vs Thailand Women,"Sylhet International Cricket Stadium,",10 OCT 2022,1:00 PM IST
2,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India vs South Africa,"Arun Jaitley Stadium,",11 OCT 2022,1:30 PM IST
3,ICC MENS T20 WORLD CUP 2022,India vs Pakistan,"Melbourne Cricket Ground,",23 OCT 2022,1:30 PM IST
4,ICC MENS T20 WORLD CUP 2022,India vs TBD,"Sydney Cricket Ground,",27 OCT 2022,12:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.

In [21]:
#lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()


time.sleep(2)

In [22]:
Name=[]
Year=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes=[]

In [23]:
Name=[]
#scraping for name
for i in driver.find_elements(By.XPATH,"//*[@id='main']/div/div[3]/div[3]/div[1]/div[2]/h3/a"):
    Name.append(i.text.split(':')[0])

Name

['Game of Thrones']

# Q4  Scrape the details of State-wise GDP of India from statisticstime.com.

In [24]:
#lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("http://statisticstimes.com/")
driver.maximize_window()


time.sleep(2)

In [25]:
#getting to the Indian page under economy tab
page=driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]")
driver.get(page.get_attribute('href'))

In [26]:
#clicking on GDP of indian states
driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a").click()

In [27]:
Rank=[]
#scraping for rank
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)
    
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [28]:
state=[]
#scraping for state state
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[2]"):
    state.append(i.text)
    
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [29]:
GSDP2=[]
#scraping for GSDP2
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]"):
    GSDP2.append(i.text)
    
GSDP2

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [30]:
share=[]
#scraping for share
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]"):
    share.append(i.text)
    
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [31]:
GDP=[]
#scraping for GDP
for i in driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)
    
GDP

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [32]:
print(len(Rank),len(state),len(GSDP2),len(share),len(GDP))

33 33 33 33 33

In [35]:
time.sleep(1)
#creating the DataFrame
gdp_State={'Rank':Rank,'State':state,'GSDP 18-19':GSDP2,'Share 18-19':share,'GDP':GDP}
df=pd.DataFrame(data=gdp_State)
df.head()

  Rank          State GSDP 18-19 Share 18-19      GDP
0    1    Maharashtra  2,632,792      13.94%  399.921
1    2     Tamil Nadu  1,630,208       8.63%  247.629
2    3  Uttar Pradesh  1,584,764       8.39%  240.726
3    4        Gujarat  1,502,899       7.96%  228.290
4    5      Karnataka  1,493,127       7.91%  226.806

# Q8 Scrape the details of Highest selling novels

In [34]:
#lets first connect to the driver
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.maximize_window()


time.sleep(2)

In [36]:
name=[]
#scraping for name
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]"):
    name.append(i.text)

name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [37]:
print(len(name))

100

In [38]:
author=[]
#scraping for author
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]"):
    author.append(i.text)
    
author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [39]:
print(len(author))

100

In [40]:
volume=[]
#scraping for volume
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]"):
    volume.append(i.text)

volume

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [41]:
print(len(volume))

100

In [42]:
publisher=[]
#scraping for publisher
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(i.text)

    
publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [43]:
print(len(publisher))

100

In [44]:
genre=[]
#scraping for genre
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(i.text)
    
genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [45]:
print(len(genre))

100

In [46]:
#creating the Dataframe
novels={'Book Name':name,'Author Name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre}
df=pd.DataFrame(data=novels)
df

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General